AddType application/vnd.android.package-archive .apk
AddType application/octet-stream .apk

<FilesMatch "\.apk$">
    Header set Content-Disposition "attachment"
    Header set Content-Type "application/vnd.android.package-archive"
</FilesMatch>
